.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
h1 {
    background-color: #ffffff;
    height: 94px;
    padding-left: 155px;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 40px;
  }
  #tl {
    color: #00a5ec;
  }
  .container1 {
    
      display: flex;
      flex-wrap: wrap;
      width: 1200px;
      height: 800px;
      margin: auto;
      justify-content : space-around;
      position: relative;
      grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
    
  }
  
  .right {
    padding-right: 165px;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 90px;
    font-size: 22px;
    gap: 20px;
    color: #424242;
  }
  .circle {
    background-color: #00a5ec;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    text-decoration: none;
  }
.box {
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #ededed;
        border-radius: 10px;
        opacity: 1;
        width: 325px;
        height: 375px;
        line-height: 50px;
        padding-left: 50px;
        position: absolute;
        color: #424242;
    }

.box1 {
    top: 10px;
    left: 10px;
  }
  
  .box2 {
    top: 10px;
    left: 410px;
  }
  
  .box3 {
    top: 10px;
    right: 10px;
  }
  
  .box4 {
    bottom: 10px;
    left: 10px;
  }
  
  .box5 {
    bottom: 10px;
    left: 410px;
  }
  h4 {
    color: #00a5ec;
    font-weight: medium;
    font-size: 1.9rem;
  }
  .box:hover {
    box-shadow: 2px 2px 2px 2px #424242;
    cursor: pointer;
  }
  .str  {
    text-decoration: line-through;
    color: #c2c2c2;
    opacity: 1;
   display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  }
  .popup {
    border: 0.1rem solid #ededed;
  border-radius: 1rem;
  width: 50rem;
  height: 25rem;
  margin: auto;
  background-color: white;
  position: fixed;
  left: 50rem;
  top: 20rem;
  box-shadow: 0 0 2rem #67676729;
  opacity: 1;
  padding-left: 2rem;
  padding-right: 2rem;
  }
  .blur {
    background-color: #000000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .phead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.2rem;
  }
  .task {
    position: absolute;
    top: 17.5rem;
    left: 30rem;
    height: 5rem;
    width: 18rem;
    background-color: #00a5ec;
    border-radius: 1rem;
    border: none;
    font-size: 1.8rem;
    color: white;
  }

  @media screen and (max-width: 400px) {

   * {
        margin: 0;
        padding: 0;
      }
      html {
        font-size: 6px;
    }

 .container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  .container1 {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 0rem;
    margin: 2rem;
  }

  h1 {
    padding-left: 4rem;
    font-size: 4rem;
  }
  h4 {
    color: #00a5ec;
    font-weight: 600;
    font-size: 3.5rem;
  }
  .right {
    left: 500px;
    margin-top: 100px;
}

  .box {
    width: 50rem;
    height: 60rem;
    line-height: 9rem;
    padding-left: 6rem;
    color: #424242;
  }

  .popup {
    border: 0.1rem solid #ededed;
    border-radius: 1rem;
    width: 52rem;
    height: 40rem;
    margin: 0;
    background-color: white;
    position: fixed;
    left: 2rem;
    top: 45rem;
    box-shadow: 0 0 1.9rem #67676729;
    opacity: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 10rem;
  }
  .phead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    font-weight: 500;
  }

  .task {
    position: absolute;
    top: 30rem;
    left: 35rem;
    height: 5rem;
    width: 18rem;
    background-color: #00a5ec;
    border-radius: 1rem;
    border: none;
    font-size: 2rem;
    color: white;
  }
  #cancle {
    height: 4rem;
    width: 4rem;
  }
  #cancle:hover {
    height: 3rem;
    width: 3rem;
  }











}
